QTableView, QMessageBox, QDialog, QListView {
	background-color: #272822;
	alternate-background-color: #272822;
}

QHeaderView, QHeaderView-section {
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #363731, stop: 1 #272822);
}

QHeaderView-section {
	color: #8f908a;
	border-style: solid;
	border-left-color: #272822;
	border-right-color: #363731;
}

QTableView-item {
	color: #75715e;
}

QTableView-item:first {
	color: white;
	background: transparent;
}

QTableView-item:selected {
	color: #f92672;
	background-color: #272822;
}

QTableView-item:focus {
	background-color: #49483e;
}

QLabel, QRadioButton, QCheckBox {
	color: #8f908a;
}

QLineEdit {
	color: white;
	background-color: #303030;
	border: 1px solid #363731;
	border-left-color: #272822;
	border-top-color: #272822;
}

.quicksearch {
	background-color: #404040;
	color: #00000000;
}

.quicksearch-query {
	border: 1px solid #404040;
	border-bottom-color: #8e8e8e;
}

.quicksearch-query-div {
	border: 1px solid #2c2c2c;
}

.quicksearch-edit {
	color: #1d1d1d;
	background-color: #e6e6e6;
	border: 1px solid #dddddd;
	border-top-color: #aeaeae;
	border-left-color: #c9c9c9;
	border-right-color: #d0d0d0;
}

.quicksearch-view {
	background-color: #404040;
}

.quicksearch-view:selected {
	background-color: #575757;
}

QLineEdit:read-only {
	color: #9a9a9a;
}

QStatusBar {
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #5b5b5b, stop: 1 #545454);
	border-top: 1px solid #7d7d7d;
}

QStatusBar, QStatusBar QLabel {
	color: white;
}

.overlay {
	background-color: #272822;
	border: 1px solid #7d7d7d;
}

.filterbar {
	background-color: #272822;
	border: 1px solid #7d7d7d;
}

QRadioButton::checked {
	color: white;
}



/* need defaults */
.splashscreen-button {
    color: #2E3440;
    background-color: #EBCB8B;
    border: 1px solid #EBCB8B;
}

.nonexistentshortcutdialog-button {
    max-width: 4em;
    color: #2E3440;
    background-color: #EBCB8B;
    border: 1px solid #EBCB8B;
}

.nonexistentshortcutdialog-edit {
    border: 3px solid #434C5E;
}

QScrollBar {
/*    color: #D8DEE9;
    background-color: #434C5E;  
    border: none;
    width: 10px;
    margin: 22px 0 22px 0;*/
}

QScrollBar::handle {
/*    background: #434C5E;*/
}

QScrollBar::add-line {
/*    border: none;
    background: #434C5E;
    height: 20px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;*/
}

QScrollBar::sub-line {
/*    border: none;
    background: #434C5E;
    height: 20px;
    subcontrol-position: top;
    subcontrol-origin: margin;*/
}







* {
	/*font-size: 9pt;*/
	/*background: #272822;*/
}

th {
	/*font-size: 8pt;*/
}

.locationbar {
	padding: 0.25ex;
	border-bottom: 1px solid #262626;
}

.statusbar {
	/*font-size: 8pt;*/
}

.quicksearch-query, .quicksearch-item-title {
	/*font-size: 10pt;*/
}

.quicksearch-item {
	padding-top: 1px;
	padding-left: 4px;
	padding-right: 4px;
	border-top: 1px solid #4d4d4d;
	border-bottom: 1px solid #363636;
}

.quicksearch-item-title {
	color: #c8c8c8;
}

.quicksearch-item-title-highlight {
	color: white;
}

.quicksearch-item-hint {
	/*font-size: 8pt;*/
	color: white;
}

.quicksearch-item-description {
	color: #8f908a;
}
